platforms
coffee.dev.apk
coffee.prod.apk
npm-debug.log
config.js
www/config.js
test/config.js

src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map
dev
.idea

test/browser/index.js
www/app.js
www/app.min.js
