<?xml version='1.0' encoding='utf-8'?>
<widget id="coffee.software.coffeewallet" version="0.4.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coffee</name>
    <description>
      Blockchain wallet and portfolio.
    </description>
    <author email="frank@wawrzak.com" href="http://software.coffee/">Coffee Software</author>
    <icon density="mdpi" height="128" src="res/icon.png" width="128" />
    <icon height="20" platform="ios" src="res/icon20.png" width="20" />
    <icon height="40" platform="ios" src="res/icon40.png" width="40" />
    <icon height="180" platform="ios" src="res/icon180.png" width="180" />
    <icon height="60" platform="ios" src="res/icon60.png" width="60" />
    <icon height="120" platform="ios" src="res/icon120.png" width="120" />
    <icon height="76" platform="ios" src="res/icon76.png" width="76" />
    <icon height="152" platform="ios" src="res/icon152.png" width="152" />
    <icon height="167" platform="ios" src="res/icon167.png" width="167" />
    <icon height="1024" platform="ios" src="res/icon1024.png" width="1024" />
    <platform name="ios">
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <platform name="android">
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="/img/logo.png" />
        <preference name="SplashScreenDelay" value="1000" />
        <preference name="SplashScreenBackgroundColor" value="#f7f5f2" />
        <preference name="SplashScreenWidth" value="128" />
        <preference name="SplashScreenHeight" value="128" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <preference name="phonegap-version" value="cli-7.1.0" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#766054" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="windows">
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>to scan barcodes of addresses when sending payments</string>
    </edit-config>
    <plugin name="phonegap-plugin-barcodescanner" spec="^7.1.1" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-nativestorage" spec="2.2.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-clipboard" spec="https://github.com/ihadeed/cordova-clipboard" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="coffee" />
    </plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="https://github.com/fsw/SocialSharing-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-pdf-generator" spec="^2.0.4" />
    <plugin name="cordova-plugin-fingerprint-aio" spec="^1.3.8" />
    <engine name="browser" spec="^5.0.3" />
</widget>
