<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cadosolutions.coffeewallet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coffee</name>
    <description>
      Blockchain wallet and portfolio.
    </description>
    <author email="francio@francio.pl" href="http://francio.pl/">Francio</author>
    <icon density="mdpi" height="128" src="res/icon.png" width="128" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <preference name="phonegap-version" value="cli-7.1.0" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#4e3c31" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="windows">
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>to scan barcodes of addresses when sending payments</string>
    </edit-config>
    <plugin name="phonegap-plugin-barcodescanner" spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-clipboard2" spec="^0.1.0" />
    <plugin name="cordova-plugin-nativestorage" spec="2.2.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <engine name="browser" spec="^5.0.3" />
</widget>
