* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFE4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 {
  line-height: 64px;
}

#wallets {
    width: 100%;
}
#wallets td, #wallets th {
    padding: 10px;
}

.value {
    font-size: 24px;
}

.online .value {
  font-weight: bold;
}

.amount {
    font-size: 18px;
}

#grandTotal {
    font-size: 24px;
}

.totals {
    font-size: 16px;
}
.totals div {
    margin: 10px;
}

.disabled {
  color: #ddd;
}

.button {
  display: inline-block;
  height: 64px;
  width: 64px;
  margin-left: 10px;
}

.button img {
  width: 64px;
  height: 64px;
}

.button.disabled img {
  filter: grayscale(100%);
}

.coinIcon {
  width: 64px;
}

@media all and (max-width: 799px) {
  .button {
    height: 32px;
    width: 32px;
    margin-left: 5px;
  }
  .button img {
    width: 32px;
    height: 32px;
  }
  .coinIcon {
    width: 32px;
  }
  .value {
      font-size: 20px;
  }
  .amount {
      font-size: 14px;
  }
}


#walletsList {
  background: cornsilk;
  text-align: right;
}

#walletsList .button {
  display: none;
  float: right:
}

#walletsList .active {
  background: pink;
}

#walletsList  .active .button {
  display: inline-block;
}

#popup {
  background-color: #efe;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height:0;
  overflow: scroll;
}

#receivePaymentPopup {
  text-align: center;
  line-height: 24px;
  font-size: 18px;
}

#receiveCoinQrcode {
    display: inline-block;
}

.spacing {
    margin: 20px 0;
}

#sendPaymentPopup {
  font-size: 18px;
  text-align: center;
}

#sendPaymentPopup input {
    padding: 5px 10px;
    font-size: 20px;
}

#sendPaymentPopup button {
  font-size: 30px;
}

#sendPaymentPopup button img {
  width: 64px;
  height: 64px;
}

#messages {
  background-color: #ff9;
  color: #005;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#messages div {
  padding: 20px;
}

#messages div.error {
  background-color: #f99;
  color: #055;
}

#messages div.success {
  background-color: #9f9;
  color: #505;
}
