 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/** DEV ONLY :
html {
  background-image: url(../dev3.png);
  background-size: 100%;
  background-position: 0 0;
}

body {
  opacity: 0.7;
}*/

/**
color palete:
  creme: #eadfcb;
  dark coffe: #4e3c31;
  pale coffe: #695950;
  gold: #c2b28f;

**/
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url("../font/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url("../font/LibreBaskerville-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url("../font/LibreBaskerville-Italic.ttf") format("truetype");
}

html {
  height: 100%;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #eadfcb;

    font-family: 'Libre Baskerville', serif;
    color: #4e3c31;
    font-size: 11px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;

    /* Status bar height on iOS 11 */
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

#nav {
  position: fixed;
  z-index: 100;
  background: #4e3c31;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  /* box-shadow: 0 2px 3px #000; */
  color: #eadfcb;
  /* transition: 0.5s filter ease; */

  /* Status bar height on iOS 11 */
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

#nav .totals {

  height: 54px;
  text-align: center;
  border-top: 1px dashed white;
  margin-top: -1px;
  text-align: center;
}

#nav .totals h1 {
  margin: 0;
  padding-top: 9px;
  font-size: 20px;
  line-height: 22px;
}

#nav .totals h2 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
}

#nav .button {
  width: 28px;
  padding: 13px;
}

#toggleMenu {
  float: left;
}

#refresh {
  float: right;
}

#menu {
  position: fixed;
  top: 54px;
  left: 0;
  height: 0;
  transition: height 0.5s ease;
  height: 0;
  overflow: hidden;
  background: #eadfcb;
  /* Status bar height on iOS 11 */
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}
#menu ul, #menu li {
  padding: 0;
  margin: 0;
}

#menu a img {
  width: 32px;
  vertical-align: middle;
  margin-right: 20px;
}
#menu a {
  display: block;
  color: #4e3c31;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  padding: 7px 15px;
}

#menu a:hover {
  background: linear-gradient(to right, #eadfcb, #c2b28f 40%, #c2b28f 50%, #eadfcb);
  color: #4e3c31;
}

#foot {
  background-color: #695950;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  /* transition: 0.5s filter ease; */
}

#foot .tab {
  flex: 1;
  color: #eadfcb;
  text-decoration: none;
  text-align: center;
  padding: 6px 2px;
}
#foot .tab img {
  height: 26px;
  margin: 2px;
}
#foot .tab.active {
  background-color: #4e3c31;
}

#container {
  /* transition: 0.5s filter ease; */

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0) scale(1.0, 1.0);

  width: 100%;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#swiper {
  width: 300%;
  height: 100%;
  display: flex;
  overflow: hidden;
  margin-left: -0%;
  transition: margin 0.5s;
}
#swiper.tab1 {
  margin-left: -100%;
}
#swiper.tab2 {
  margin-left: -200%;
}

#swiper .swipe_tab {
  height: auto;
  flex: 1;
  overflow: auto;
  width: 100%;
}
#swiper .swipe_tab .tab_inner {
  padding-top: 54px;
  padding-bottom: 56px;
}

.blur {
  /*filter: opacity(20%);*/
}

#overlay {
  background: #4e3c31;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease;
}
#overlay.show {
  visibility: visible;
  opacity: 0.8;
}

h1 {
  line-height: 64px;
}

table {
  width: 100%;
  border-spacing: 0;
}

table tr td:first-child {
  width: 64px;
}

.stitch {
  border-bottom: 1px dashed #4e3c31;
  /* border-image: url(../icons/stitch.png) 1 1 round; */
}

table td {
  padding: 12px 13px;
  border-bottom: 1px dashed #4e3c31;
  /* border-image: url(../icons/stitch.png) 1 1 round; */
}

table th {
  padding: 10px;
}

.buttons {
  overflow: auto;
  margin-top: 8px;
}

.buttons div {
  float: right;
  margin-left: 20px;
  text-align: center;
}

#walletsList .buttons div {
  text-align: right;
}

.value {
    font-size: 22px;
}

.online .value {
  font-weight: bold;
}

.amount {
    font-size: 16px;
}

.disabled {
  color: #ddd;
}

.button {
  display: inline-block;
  width: 64px;
}

.button img {
  width: 100%;
  height: 100%;
}

.button.disabled img {
  filter: grayscale(100%);
}

.coinIcon {
  width: 64px;
  vertical-align: middle;
}

@media all and (max-width: 799px) {
  .button {
    width: 32px;
  }
  .coinIcon {
    width: 32px;
  }
  table tr td:first-child {
    width: 32px;
  }
  .value {
      font-size: 18px;
  }
  .amount {
      font-size: 12px;
  }
}

@media all and (max-width: 380px) {
  .value {
      font-size: 14px;
  }
  .amount {
      font-size: 10px;
  }
}


table {
  text-align: right;
}

table .button {
  float: right:
}

table .buttons {
  display: none;
}

table .no-stitch td {
  border: none;
}

table .active {
  background: linear-gradient(to right, #c8b897 0%, #ae9a70 20%, #9e8858 40%, #9e8858 60%, #ae9a70 80%, #c8b897 100%);
  background-attachment: fixed;
  /*background: linear-gradient(to right, #c8b897, #9e8858 40%, #9e8858 70%, #c8b897);*/
  color: #eadfcb;
}

table  .active .buttons {
  display: block;
}

#popup {
  background-color: #eadfcb;
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: -100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: scroll;
  transition: all 0.5s ease;
}

#popup.show {
  margin-left: 0;
}

#popup h1 {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 20;
  /* IOS */
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  font-size: 18px;
  line-height: 52px;
  background: #4e3c31;
  color: #eadfcb;
  text-align: center;
}
#popup h1 img {
  width: 32px;
  margin: 10px;
}
#popup h1 #popupIcon {
  float: left;
}
#popup h1 .close {
  float: right;
  height: 52px;
}

#popupContent {
  padding: 0 30px;
  padding-top: 52px;
  /* IOS */
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  background-repeat: no-repeat;
  background-position: right 5px;
}

#receivePaymentPopup {
  text-align: center;
  line-height: 24px;
  font-size: 18px;
}

#receiveCoinQrcode {
    display: inline-block;
}

.spacing {
  margin: 14px 0;
}

#sendPaymentPopup {
  font-size: 18px;
}

#wallets td.walletsActions {
    padding-top: 15px;
    text-align:center;
    color: #777;
}

#history {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#history li {
  font-size: 16px;
}

#history li .ts {
  font-size: 10px;
}

#exchange {
  text-align: center;
}

#exchange img {
  width: 50%;
}

.coinButton {
  width: 74px;
  height: 96px;
  border: 1px solid #ddd;
  display: inline-block;
  text-align: center;
  margin: 3px;
}
.coinButton.active {
  background: #B04960;
}

.coinButton img {
  width: 64px;
  margin: 5px;
}

.center {
  text-align: center;
}



.hidden {
  display: none;
}


#lockPopup {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 10, 40, 0.9);
    z-index: 200;
}

#lockPopupContent {
    padding: 10px;
    border-radius: 5px;
    border: 2px dotted #ddf;
    position: absolute;
    left: 35px;
    right: 35px;
    top: 50%;
    margin-top: -200px;
    background: #eee;
}

#lockPopup .cancel {
  float: right;
}
h1#lockTitle {
    line-height: normal;
    padding: 0;
    margin: 0;
}
.coinBig {
  /* background-image: url(coins/ethereum-test.png); */
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  background-size: contain;
}

.sendHead {
    margin: 10px -16px 20px -16px;
}

.largecup {
  width: 100%;
}

a:active {
    opacity: 0.5;
}
