 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/**
color palete:
  coffe: #766054;
  dark: #463f3a;
  gold: #ddc486;
  creme: #ffffff; //#f7f5f2
  creme2: #fffcf8;

**/

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../font/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("../font/Poppins-Italic.ttf") format("truetype");
}

html {
  height: 100%;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #ffffff; /*#f7f5f2*/

    font-family: 'Poppins', serif;
    color: #766054;
    font-size: 11px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;

    /* Status bar height on iOS 11 */
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 100;
}

#nav {
  position: fixed;
  z-index: 100;
  background: #766054;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  color: #ffffff; /*#f7f5f2*/
  transition: filter 0.5s;

  box-shadow: 0px 0px 7px #463f3a;

  /* Status bar height on iOS 11 */
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

#nav .totals {
  height: 43px;
  text-align: center;
}

#nav .totals h1 {
  margin: 0;
  padding-top: 11px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 100;
}

#nav .totals h2 {
  margin: 0;
  font-size: 11px;
  line-height: 13px;
  font-style: italic;
  font-weight: 100;
}

#nav .navButton {
  width: 36px;
  padding: 9px;
  position: absolute;
}
#nav .navButton img {
  width: 100%;
  /* display: block; */
}
#refresh {
  right: 0;
  display: none;
}
#refresh.error {
  display: block;
}
#refresh .testing {
  display: none;
}
#refresh .nonet {
  display: block;
}
#refresh.spinning .testing {
  display: block;
}
#refresh.spinning .nonet {
  display: none;
}

#toggleMenu {
  float: left;
}

#refresh {
  float: right;
}

#menu {
  position: fixed;
  top: 54px;
  left: 0;
  height: 0;
  transition: height 0.5s ease;
  height: 0;
  overflow: hidden;
  background: #ffffff; /*#f7f5f2*/
  /* Status bar height on iOS 11 */
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}
#menu ul, #menu li {
  padding: 0;
  margin: 0;
}

#menu a img {
  width: 32px;
  vertical-align: middle;
  margin-right: 15px;
}
#menu a {
  display: block;
  color: #766054;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  padding: 7px 25px 7px 15px;
}

#menu a:hover {
  background: #c2b28f;
  color: #766054;
}

#foot {
  background-color: #463f3a;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  transition: filter 0.5s;
  box-shadow: 0px 0px 7px #463f3a;
}

#foot .tab {
  flex: 1;
  color: #ffffff; /*#f7f5f2*/
  text-decoration: none;
  text-align: center;
  padding: 9px 2px;
  font-size: 9px;
  opacity: 0.4;
}
#foot .tab img {
  height: 22px;
  margin: 1px;
}
#foot .tab.active {
  opacity: 1;
}

#container {
  transition: filter 0.5s;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0) scale(1.0, 1.0);

  width: 100%;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    height: 0;
    background: transparent;  /* optional: just make scrollbar invisible */
}

body.desktop ::-webkit-scrollbar {
    width: 6px;
}

body.desktop ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #766054;
}

#swiper {
  width: 300%;
  height: 100%;
  padding-top: 54px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  margin-left: -0%;
  transition: transform 0.5s ease;
  transform: translate3d(0,0,0);
}
#swiper.tab1 {
  transform: translate3d(-100vw,0,0);
}
#swiper.tab2 {
  transform: translate3d(-200vw,0,0);
}

#swiper .swipe_tab {
  height: auto;
  flex: 1;
  overflow: auto;
  width: 100%;
  padding: 0 15px;
  -webkit-transform: translate3d(0, 0, 0);
}
#swiper .swipe_tab .tab_inner {
  /* padding-top: 54px; */
  padding-bottom: 60px;
}

#swiper {
  background: #fffcf8;
}

.blur {
  /* filter: blur(2px); */
  opacity: 0.5;
}

#overlay {
  background: #766054;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease;
}
#overlay.show {
  visibility: visible;
  opacity: 0.2;
}

h1 {
  line-height: 64px;
}

table {
  width: 100%;
  border-spacing: 0;
}

.stitch {
  background: url(../img/stitch.png);
  background-position: center;
  height: 1px;
}

.stitch2 {
  background: #eec;
  height: 1px;
}
.online .value {
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
}

.coinIcon {
  width: 100%;
}

.active .coinIcon {
    filter: hue-rotate(22deg) saturate(137%) brightness(187%);
}

.buttonIcon {
  width: 26px;
  margin-right: 4px;
  vertical-align: middle;
}

.value {
    font-size: 18px;
}
.amount {
    font-size: 12px;
}

@media all and (max-width: 380px) {
  .value {
      font-size: 14px;
  }
  .amount {
      font-size: 10px;
  }
}

.padding {
  padding: 0 15px;
}

.listingRow {
  height: 74px;
  position: relative;
  margin: 0 -15px;
  overflow: hidden;
  background: #fffcf8;
}
.slidingRow {
  position: absolute;
  background-color: #ffffff; /*#f7f5f2*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 7px #463f3a
}

.slidingRow.touching {
  transition: none;
}

.slidingRow .left {
  flex: 3;
  text-align: left;
}
.slidingRow .left div {
  padding-left: 15px;
}
.slidingRow .unit {
  flex: 1.5;
  text-align: center;
}
.slidingRow .right {
  flex: 3;
  text-align: right;
}
.slidingRow .right div {
  padding-right: 15px;
}

.slidingRow .unconfirmed {
  animation: blinkingText 1s infinite;
}

.slidingRow .coinIcon {
  max-width: 56px;
  min-width: 26px;
}
.slidingRow .unit svg {
  max-width: 56px;
  min-width: 26px;
}

.listingRow .stitch2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: 15px solid white;
    border-right: 15px solid white;
}

.listingRow .buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listingRow .buttonsRight {
  right: 0;
  left: auto;
}

.listingRow .buttons .button:first-child {
  padding-left: 5px;
}
.listingRow .buttons .button:last-child {
  padding-right: 5px;
}

.listingRow .buttons .button {
  text-align: center;
  flex: 1;
}
.listingRow .buttons .button a {
  display: block;
  width: 60px;
}
.listingRow .buttons .button a img {
  display: block;
  width: 32px;
  margin: 0 auto;
}
body.resizing * {
  transition: none !important;
}
body.desktop .listingRow .buttons.hidden {
  display: flex !important;
}
body.desktop .slidingRow {
  left: 130px;
  right: 130px;
  box-shadow: none;
  transform: none !important;
}

#offlineAssets {
  padding: 0 15px;
}

@keyframes blinkingText {
  0% {    color: #ddc486;	}
  50% {   color: #766054;	}
  100% {	color: #ddc486;	}
}

#popup {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translate3d(-110vw,0,0);
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: transform 0.5s ease;
  background-color: #766054;
  box-shadow: 2px 0px 7px #463f3a;
}

#popup.show {
  transform: translate3d(0,0,0);
}
#formPopup {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  z-index: 200;
  transform: translate3d(0,100%,0);
  transition: transform 0.5s ease;
}
#formPopup.show {
  transform: translate3d(0,0,0);
}
.formContent {
  background: #463f3a;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-shadow: 0px 0px 7px #463f3a;
}
.formContent .formTop {
  position: relative;
}

.formContent .circleIcon {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: -35px;
  background-image: url(../icons/coinbg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  box-shadow: 0px 0px 7px #261f1a;
  border-radius: 50%;
}

#receivePaymentPopup.formContent .circleIcon {
  left: 37.5%;
}

#receivePaymentPopup.formContent #receiveCoinIdenticon.circleIcon  {
  left: 63.5%;
  background-image: none;
}

/*
.formContent .actionLeft {
  position: absolute;
  left: 28px;
  width: 90px;
  bottom: -2px;
}
.formContent .actionRight {
  position: absolute;
  right: 28px;
  width: 90px;
  bottom: -2px;
}
*/

#popupHead {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 20;
  /* iOS */
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);

  background: #766054;
  text-align: center;
  box-shadow: 0px 0px 7px #463f3a;

  background-image: url(../img/stitch.png);
  background-position: top;
  background-repeat: repeat-x;
}

#popupHead .stitchHolder {
  height: 3px;
}
#popupHead .titleHolder {
  height: 62px;
  background: #fffcf8;
  display: none;
}
#popupHead h2 {
  margin: 0;
  padding-top: 20px;
}

#popupHead h2 {
  margin: 0;
  padding-top: 20px;
}

#popupHead.expand .titleHolder {
  display: block;
}

#popupHead img {
  width: 30px;
  margin: 12px;
  display: block;
}
#popupHead .close {
  position: absolute;
  left: 0;
  top: 9px;
}

#popupContent {
  background-color: #ffffff; /*#f7f5f2*/
  /* IOS */
  position: fixed;
  top: 0;
  margin-top: 3px;
  bottom: 0;
  overflow-y: scroll;
  z-index: 19;
  /* iOS */
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  width: 100%;
}

#popupContent > div {
  padding: 0px 4%;
  width: 92%;
  padding-top: 6px;
}

.popup-head {
  margin: -6px -5% 9px -5%;
  overflow: auto;
  min-height: 62px;
}

#receivePaymentPopup {
  text-align: center;
  font-size: 14px;
}

#receiveCoinBottom .custom-amount  {
  display: none;
}
#receiveCoinBottom.custom-amount .custom-amount {
  display: block;
}
#receiveCoinBottom.custom-amount .no-custom-amount {
  display: none;
}

.spacing {
  margin: 14px 0;
}

#wallets .walletsAddButton {
  padding: 26px;
  text-align: center;
  color: #d0c080;
  font-size: 14px;
}
#wallets .walletsAddButton img {
  width: 32px;
  display: block;
  margin: 0 auto;
}

#history {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#history li {
  font-size: 14px;
}

#history li .ts {
  font-size: 10px;
  /* margin-left: 43px; */
}

#toolsTab {
  background: #ffffff;
}

#swiper .toolsTab {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

#tools {
  width: 100%;
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;
}

#tools > .row {
  height: 33.33%;
}
.coinButton {
    width: 25%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.coinButton img {
  width: 64px;
  margin: 5px;
  margin-bottom: 0;
}

.center {
  text-align: center;
}

#lockPopup {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(70, 63, 58, 0.8);
    z-index: 200;
}

#lockPopupContent {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 50%;
  margin-top: -200px;
  background: #ffffff; /*#f7f5f2*/
}

#lockPopup .row {
  padding: 2% 6%;
}

#lockTitle {
    line-height: normal;
    margin: 0;
    padding: 2% 6%;
    text-align: center;
}

#lockMessage {
  padding: 2% 6%;
  max-height: 300px;
  overflow-y: auto;
}

.rowIcon {
  text-align: center;
  padding-top: 20px;
}
.coinBig {
  width: 70px;
  height: 70px;
}

a:active {
    opacity: 0.5;
}

.receiveCode {
  /*  border-top: 1px solid #766054; */
    margin: 0;
    /* height: 280px; */
    padding: 8px 0;
    position: relative;
}

.txt-mode-only {
  /* display: none; */
}
.txt .txt-mode-only {
  display: block;
}
.txt .qr-mode-only {
  display: none;
}

textarea#receiveCoinAddr {
  font-size: 11px;
  padding: 0 12px;
  text-align: center;
  line-height: 14px;
  /* height: 36px; */
  background: none;
  word-break: break-all;
  /* background: #ffffff; */
  /* color: black; */
  width: 100%;
  margin: 0 auto;
  /* height: 280px; */
}

textarea#mnemonic {
  font-size: 17px;
}

.qr-code-display {
  display: inline-block;
  padding: 12px;
  border-radius: 6px;
  background: #ffffff; /*#f7f5f2*/
}

#receiveCoinNote {
  padding: 6px;
  color: #ffffff; /*#f7f5f2*/
}

.spinner.spinning img {
  animation: spin 1s linear 0s infinite;

}

@keyframes spin { 100% { transform:rotate(360deg); } }

#moreCoins {
  padding: 26px;
  text-align: center;
  color: #ddc486;
  font-size: 14px;
}

ol.mnemonic {
  overflow: auto;
  padding: 0;
  margin: 0 -4%;
  font-size: 10px;
}

ol.mnemonic li {
  width: 25%;
  float: left;
  margin-left: 8%;
  padding: 5px 0;
}
ol.mnemonic li span {
  font-weight: bold;
  font-size: 13px;
}

#uxHint {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -50vw;
    height: 0px;
    overflow: visible;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s linear;
}

#uxHint img {
  width: 50%;
  margin: 25%;
}

#uxHint.blink {
  opacity: 1;
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(70, 63, 58, 0.8);
  z-index: 300;
  display: none;
}
#loading.show {
  display: block;
}
#loading img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

#airdropTasks {
  width:100%;
}
#airdropTasks th {
  text-align: left;
}
#airdropTasks td.reward {
  text-align: right;
}
#airdropTasks td.status {
  text-align: center;
}

#airdropTasks td.description {
  padding-bottom: 20px;
}

#airdropTasks .completed td.reward, #airdropTasks .completed td.status {
  font-weight: bold;
}

#airdropTasks button {
  background: #766054;
  padding: 8px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff; /*#f7f5f2*/
  margin-left: 5px;
}

.airdrop-link {
  background: #463f3a;
  color: #ffffff; /*#f7f5f2*/
  margin: 10px -4%;
  padding: 10px 0;
}

.airdrop-link button {
  color: #ffffff; /*#f7f5f2*/
  font-size: 14px;
}

.airdrop-link #airdropRefLink {
  font-size: 12px;
  padding: 9px 0;
  text-align: center;
}



.details-popup ul {
  list-style-type: none;
  padding: 0 16px;
  margin: 0px 0;
  line-height: 16px;
}
.details-popup ul li {
  margin-bottom: 12px;
}
.details-popup ul button img {
  margin-right: 8px;
}
.popup-head h2 {
  text-align: center;
  margin: 0;
}
.popup-head h3 {
  font-size: 11px;
  text-align: center;
  margin: 0;
  margin-bottom: 9px;
}
.details-popup .details-buttons {
  display: flex;
}
.details-popup .details-buttons .button {
  flex: 1;
}
.details-popup .details-buttons .button a {
  display: block;
  text-align: center;
}
.details-popup .details-buttons .button a img {
  width: 32px;
}
.details-popup .details {
  text-align: center;
}

#coinInfoWallet > svg {
  width: 64px;
}
#coinInfoWallet .balance {
  overflow: auto;
}

.bg-creme {
    background: #fffcf8;
}

#sendCoinBalanceAfter .max-button {
  display: none;
}

#sendCoinBalanceAfter.default .max-button {
  display: block;
}

#sendCoinFeeInfo .range-input {
    margin-top: 16px;
    margin-bottom: 26px;
}

#sendCoinFeeInfo.default .range-input {
  display: none;
}

#sendCoinFeeInfo .customize-button {
  display: none;
}

#sendCoinFeeInfo.default .customize-button {
  display: block;
}

#pwaInfo {
    display: none;
    border: 1px dashed orange;
    margin: 10px 0;
    padding: 10px;
    background: #fff4b1;
    text-align: center;
}

#pwaInfo .issue {
   margin-bottom: 10px;
   display: none;
}
#pwaInfo .issue.show {
    display: block;
}

#pwaInfo.show {
    display: block;
}
.pwaActions {
    margin-top: 15px;
    display: flex;
}
.pwaActions a, .pwaActions button{
    flex: 1;
    line-height: 32px;
}
#installPwa {
    display: none;
    background: #766054;
    color: white;
}
#installPwa.show {
    display: block;
}