.row {
  display: flex;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

.unpad {
  margin: 0 -4%;
}

.hidden {
  display: none !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


#messages {
    position: fixed;
    top: 60px;
    left: 5px;
    right: 5px;
    z-index: 200;
}

.msg {
  position: relative;
  padding: 12px 0;
  /*padding-left: 67px;*/
  word-wrap: break-word;
  font-size: 14px;
}

#messages div.msg {
    padding: 27px 58px;
    text-align: center;
    background-color: #766054;
    color: #ffffff; /*#f7f5f2*/
    margin: -11px 10px;
    border-radius: 40px;
    box-shadow: 0px -5px 10px #463f3a;
}

#messages div.msg.fadingout {
  opacity: 0;
  transition: opacity 2s linear;
}

#messages div.msg .closer {
    position: absolute;
    right: 27px;
    top: 27px;
    width: 24px;
}

#messages div.msg .closer img {
  width: 100%;
  display: block;
}

#messages div.msg:after {
    content: " ";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 24px;
    top: 20px;
    background: url(../icons/msgtype.png);
    background-size: auto 32px;
}

#messages div.msg.info:after {
  background-position: -32px 0;
}

#messages div.msg.error:after {
  background-position: -64px 0;
}

#messages div.msg.error {
  background-color: #463f3a;
}
.msg.error {
  color: #862727;
}
.msg.error:after {
  background-position: -64px 0;
}

#messages div.msg.success {
  background-color: #ddc486;
}
.msg.success {
  color: #767826;
}
#messages div.msg.success:after {
  background-position: 0 0;
}


#mobileQRScanner {
  position: absolute;
  top: 0;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  width: 100%;
  transform: translate3d(-110vw,0,0);
  bottom: 0;
  left: 0;
  z-index: 300;
  transition: transform 0.5s ease;
  background-color: #766054;
  box-shadow: 2px 0px 7px #463f3a;
  color: #ffffff; /*#f7f5f2*/
}

#mobileQRScanner h2 {
  font-size: 16px;
  font-weight: 100;
  line-height: 54px;
  text-align: center;
  margin: 0;
}

#mobileQRCancel {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  margin: 12px;
  background-image: url(../icons/hide.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

#mobileQRCamera {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  text-align: center;
  line-height: 54px;
  background-image: url(../icons/togglecam.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 0 14px;
  padding: 0 35px;
}

#mobileQRPreview {
  width: 100%;
  height: calc(100% - 110px);
}

#mobileQRScanner.show {
  transform: translate3d(0,0,0);
}
