.row {
  display: flex;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

.unpad {
  margin: 0 -4%;
}

.hidden {
  display: none !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


#messages {
    position: fixed;
    top: 60px;
    left: 5px;
    right: 5px;
    z-index: 200;
}

.msg {
  position: relative;
  padding: 12px;
  /*padding-left: 67px;*/
  word-wrap: break-word;
  font-size: 14px;
}

#messages div.msg {
    padding: 27px 58px;
    text-align: center;
    background-color: #766054;
    color: #f7f5f2;
    margin: -11px 10px;
    border-radius: 40px;
    box-shadow: 0px -5px 10px #463f3a;
}

#messages div.msg.fadingout {
  opacity: 0;
  transition: opacity 2s linear;
}

#messages div.msg .closer {
    position: absolute;
    right: 27px;
    top: 27px;
    width: 24px;
}

#messages div.msg:after {
    content: " ";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 24px;
    top: 20px;
    background: url(../icons/msgtype.png);
    background-size: auto 32px;
}

.msg.info:after {
  background-position: -32px 0;
}

#history .msg.info:after {
  background-position: -96px 0;
}

#messages div.msg.error {
  background-color: #463f3a;
}
.msg.error {
  color: #862727;
}
.msg.error:after {
  background-position: -64px 0;
}

#messages div.msg.success {
  background-color: #ddc486;
}
.msg.success {
  color: #767826;
}
.msg.success:after {
  background-position: 0 0;
}
