.row {
  display: flex;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

.unpad {
  margin: 0 -6%;
}

.hidden {
  display: none !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


#messages {
    position: fixed;
    top: 68px;
    left: 5px;
    right: 5px;
    z-index: 200;
}

.msg {
  position: relative;
  padding: 12px;
  padding-left: 67px;
  word-wrap: break-word;
  font-style: italic;
  font-size: 14px;
}

#messages div.msg {
    padding: 27px;
    padding-left: 67px;
    background-color: #766054;
    color: #f7f5f2;
    margin: -11px 10px;
    border-radius: 30px;
    box-shadow: 0px -12px 10px #2e1c1190;
}

#messages div.msg.stitched:before {
    border-radius: 28px;
}

.msg:after {
    content: " ";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 24px;
    top: 20px;
    background: url(../icons/msgtype.png);
    background-size: auto 32px;
}

.msg.info:after {
  background-position: 0 0;
}

#history .msg.info:after {
  background-position: -96px 0;
}

.msg.error {
  color: #862727;
}
.msg.error:after {
  background-position: -64px 0;
}

.msg.success {
  color: #767826;
}
.msg.success:after {
  background-position: -32px 0;
}
