button {
  border: none;
  background: none;
  color: #766054;
  font-family: 'Poppins', serif;
  text-align: center;
  font-size: 17px;
}

button img {
  vertical-align: middle;
  width: 26px;
  margin: 0 3px;
}
button.submit {
  color: #f7f5f2;
}

.formActions .cancel {
  text-align: left;
  padding: 16px;
}

.formActions .submit {
  text-align: right;
  padding: 16px;
}

.stitched:before {
  content: " ";
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  border: 1px dashed #c2b28f;
  border-radius: 12px;
}

button.large {
  line-height: 22px;
  font-size: 11px;
  font-weight: bold;
  padding: 22px;
  text-transform: uppercase;
}

button.primary.stitched:before {
  border: 1px dashed #766054;
}
button.primary {
  background: #766054;
  color: #f7f5f2;
  box-shadow: 1px 1px 1px rgba(50,50,0,0.5);
}

button.primary.stitched:before {
  border-color: #ecdec6;
}

input {
    padding: 9px 14px;
    font-size: 15px;
    width: 100%;
    border: 1px solid #766054;
    border-radius: 21px;
    box-sizing: border-box;
    margin: 0;
    background: #695950;
    color: #f7f5f2;
    font-family: 'Poppins', serif;
}

*:focus {
    outline-width: 0;
}

input:active, input:focus {
    border: 1px solid #9e8858;
}

input::placeholder {
    color: #f7f5f2;
    font-style: italic;
}

input.invalid {
    border-color: #932020;
}

input.valid {
    border-color: #635920;
}
div.validation {
    text-align: right;
    color: #932020;
    position: absolute;
    left: 0;
    right: 33px;
}

input.top {
  border-bottom: none;
}
input.bottom {
  border-top: none;
}

.fseparator {
  border-bottom: 1px dashed #766054;
  margin: 0 22px;
}

input.has-unit {
  padding-right: 55px;
}

.field {
  position: relative;
  text-align: center;
  font-size: 14px;
}

.field label {
  padding: 10px;
  display: block;
}

.field label.fee {
  text-align: left;
  font-size: 12px;
  text-align: left;
}

.input-unit {
  position: absolute;
  bottom: 11px;
  right: 12px;
  color: #f7f5f2;
}

.range-input {
    margin: 9px 0px;
    text-align: left;
}

input,.rangeSlider,.rangeSlider__fill {
    display:block;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.3);
    box-shadow:inset 0 1px 3px rgba(0,0,0,.3);
}

.rangeSlider,.rangeSlider__fill {
    border-radius:10px
}

.rangeSlider {
  position:relative;
  background:#695950;
}

.rangeSlider__horizontal {
  height:20px;
  width:100%
}

.rangeSlider__vertical {
  height:100%;
  width:20px

}.rangeSlider--disabled {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity:.4
}

.rangeSlider__fill {
  background: linear-gradient(to right, #c8b897 0%, #ae9a70 20%, #9e8858 40%, #9e8858 60%, #ae9a70 80%, #c8b897 100%);
  background-attachment: fixed;
  position:absolute;
  z-index:2
}

.rangeSlider__fill__horizontal {
  height:100%;
  top:0;
  left:0
}

.rangeSlider__fill__vertical {
  width:100%;
  bottom:0;
  left:0
}

.rangeSlider__handle {
    cursor:pointer;
    display:inline-block;
    width:40px;
    height:40px;
    position:absolute;z-index:3;

    background-image: url('../icons/slider.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}

.rangeSlider__handle:active {
  background-image: url('../icons/slideron.png');
}

.rangeSlider__handle__horizontal{
  top:-10px
}

.rangeSlider__handle__vertical{
  left:-10px;bottom:0
}

input[type=range]:focus+.rangeSlider .rangeSlider__handle{
  -webkit-box-shadow:0 0 8px rgba(142,68,173,.9);box-shadow:0 0 8px rgba(142,68,173,.9)
}

.rangeSlider__buffer{
  z-index:1;position:absolute;top:3px;height:14px;background:#2c3e50;border-radius:10px
}

label.checkbox {
    height: 34px;
    padding: 4px;
    display: block;
}

.checkbox input {
  display:inline-block;
  width: 54px;
  border: none;
  box-shadow: none;
}

.checkbox input:before {
  content:""; display:inline-block; width:53px; height:32px; background-image: url('../icons/check.off.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox input:checked:before {
  background-image: url('../icons/check.on.png');
}


table.niceTable {
  width:100%;
}
table.niceTable td {
  word-break: break-word;
  padding: 7px 0;
  font-weight: bold;
}
table.niceTable th {
  text-align: left;
  padding: 7px 0;
  font-weight: 100;
}
