#exchangePopup a {
    color: #cdb476;
}

button {
  border: none;
  background: none;
  font-family: 'Poppins', serif;
  text-align: center;
  font-size: 17px;
  color: #766054;
  position: relative;
  padding: 0;
}

.row.buttons {
  margin-right: -7px;
  margin-left: -7px;
}

button.box {
  background: #766054;
  margin: 10px 7px;
  padding: 14px 4px;
  color: #ffffff; /*#f7f5f2*/

  background-image: url(/img/stitch.png);
  background-position-y: 4px;
  background-repeat: repeat-x;
}

button.box.light {
  background: #ddc486;
}

button.toolbtn {
  padding: 18px 0;
  display: block;
  width: 100%;
  margin: 5px 0;
  line-height: 20px;
  /*box-shadow: 0px 0px 1px #463f3a;*/
  background: #ffffff;
  font-size: 14px;
  border: 1px solid #eec;
}

button.toolbtn:first-child {
    border-left: none;
}
button.toolbtn:last-child {
    border-right: none;
}
#tools .row:first-child button.toolbtn {
    border-top: none;
}
#tools .row:last-child button.toolbtn {
    border-bottom: none;
}
button img {
  vertical-align: middle;
  width: 26px;
  margin: 0 3px;
}

button.toolbtn img {
  display: block;
  width: 28px;
  margin: 5px auto;
}

button .soon {
  position: absolute;
  bottom: -10px;
  left: 62px;
  right: 0;
  font-style: italic;
}

button:disabled {
  opacity: 0.5;
}

select {
    background: #766054 url(../icons/select.png) no-repeat 97% center;
    background-size: 5%;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    color: #ffffff; /*#f7f5f2*/
    line-height: 20px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.section {
    margin: 10px 0;
    padding: 10px 0;
}

.formActions .cancel {
  color: #766054;
  text-align: left;
  padding: 16px;
  padding-right: 0;
  margin-right: 25px;
}

.formActions .submit {
  color: #ffffff; /*#f7f5f2*/
  text-align: right;
  padding: 16px;
  padding-left: 0;
  margin-left: 25px;
}

#receivePaymentPopup .formActions .cancel {
  padding: 16px 0 16px 5px;
}

#receivePaymentPopup .formActions .submit {
  padding: 16px 5px 16px 0;
}
#receivePaymentPopup button img {
  margin: 0;
}

.formButtons .f1 {
  border-left: 1px solid #766054;
  border-top: 1px solid #766054;
  color: #ffffff; /*eadfcb*/
  padding: 12px 24px;
  font-size: 12px;
  line-height: 26px;
}

.formButtons .f1:first-child {
  border-left: none;
  text-align: left;
}
.formButtons .f1:first-child img {
  float: right;
}

.formButtons .f1:last-child {
  text-align: right;
}
.formButtons .f1:last-child img {
  float: left;
}

input {
  padding: 9px 0;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  border:none;
  /*border-bottom:1px dashed #766054;*/
  margin: 0;
  background: transparent;
  font-family: 'Poppins', serif;
  color: #463f3a;
}
.field.dark input {
  color: #ffffff;
}

textarea {
   resize: none;
   font-size: 16px;
   line-height: 20px;
   width: 100%;
   border: none;
   padding: 9px;
   margin: 0;
   background: #463f3a;
   color: #ffffff; /*#f7f5f2*/
   font-family: 'Poppins', serif;
   box-sizing: border-box;
}
*:focus {
  outline: none;
}

input:active, input:focus {
    /* border-color: #ffffff; */
}

.field.dark input:active, .field.dark input:focus {
    /* border-color: #463f3a; */
}

input::placeholder {
    font-style: italic;
}

.field.invalid input {
  color: #f36040;
  /*border-color: #f36040;*/
}

.field.valid input {
  /*color: #ddc486;
  border-color: #ddc486;*/
}
.equalizer {
  font-size: 20px;
  padding: 7px 0 0 0;
  background: #fff;
  margin-bottom: 1px;
}

input.has-unit {
  padding-right: 24px;
}

.field {
  position: relative;
  text-align: center;
  font-size: 14px;
  padding: 3px 14px;
  background: #fff;
  margin-bottom: 1px;
}

.field.dark {
  background: #766054;
}

.field .legend {
    text-align: right;
    position: absolute;
    right: 14px;
    font-size: 10px;
    bottom: 0;
}

.red {
  color: #f36040;
}

.field.invalid .legend {
  color: #f36040;
}

.field label {
  position:absolute;
  pointer-events:none;
  left: 14px;
  top: 11px;
  font-size: 15px;
  color: #766054;
  transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -webkit-transition:0.2s linear all;
}

.field input:focus ~ label, .field input:valid ~ label 		{
  top: -1px;
  font-size: 10px;
}

.field.filled label {
  top: -1px;
  font-size: 10px;
}

.field input:focus ~ label	{
  color: #463f3a; /*#f7f5f2*/
}

.field.dark label, .field.dark input, .field.dark input:focus ~ label	{
  color: #fff;
}

.field.invalid label {
  color: #f36040;
}

.field strong	{
  color: #ffffff; /*#f7f5f2*/
  font-weight: normal;
}
.adv-form-option {
  font-size: 12px;
  margin: 6px 14px;
  color: white;
  line-height: 22px;
  text-align:left;
}
.adv-form-option .f1 {
  text-align: right;
}
.adv-form-option button {
  border: 1px solid #766054;
  text-align: center;
  font-size: 11px;
  padding: 0 5px;
}

.input-unit {
  position: absolute;
  top: 12px;
  right: 14px;
  color: #766054;
}

.field.filled .input-unit {
  color: #463f3a;
}

.range-input {
    margin: 9px 0px;
    margin-bottom: 20px;
    text-align: left;
}

.rangeSlider,.rangeSlider__fill {
    display:block;
}

.rangeSlider,.rangeSlider__fill {
    border-radius:10px
}

.rangeSlider {
  position:relative;
  background:#695950;
}

.rangeSlider__horizontal {
  height:3px;
  width:100%
}

.rangeSlider__vertical {
  height:100%;
  width:3px

}.rangeSlider--disabled {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity:.4
}

.rangeSlider__fill {
  background: #ffffff; /*#f7f5f2*/
  position:absolute;
  z-index:2
}

.rangeSlider__fill__horizontal {
  height:100%;
  top:0;
  left:0
}

.rangeSlider__fill__vertical {
  width:100%;
  bottom:0;
  left:0
}

.rangeSlider__handle {
    cursor:pointer;
    display:inline-block;
    width:25px;
    height:25px;
    position:absolute;z-index:3;

    background-image: url('../icons/slider.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}

.rangeSlider__handle__horizontal{
    top: -12px;
}

.rangeSlider__handle__vertical{
  left:-10px;bottom:0
}

input[type=range]:focus+.rangeSlider .rangeSlider__handle{
  background-image: url('../icons/slideron.png');
}

.rangeSlider__buffer{
  z-index:1;position:absolute;top:3px;height:14px;background:#2c3e50;border-radius:10px
}

label.checkbox {
    height: 22px;
    line-height: 22px;
    display: block;
}

.checkbox input {
  display: none;
}

.checkbox input ~ .fakecheck {
  content: "";
  display: block;
  float: left;
  width: 48px;
  height: 22px;
  background-size: auto 44px;
  background-image: url(../icons/check.png);
  background-repeat: no-repeat;
}

.checkbox input:checked ~ .fakecheck {
  background-position: 0 -22px;
}

table.transactionSummary {
  width:100%;
  text-align: center;
}

table.transactionSummary tr.first td {
  width: 19%;
  padding: 7% 7% 1% 7%;
}

table.transactionSummary tr.second td {
  width: 33%;
  font-family: monospace;
  font-size: 10px;
  padding-bottom: 5%;
}

table.niceTable {
  width:100%;
}
table.niceTable td {
  word-break: break-word;
  padding-bottom: 7px;
  font-weight: bold;
  font-family: monospace;
  font-size: 10px;
  text-align: right;
}
table.niceTable th {
  text-align: left;
  padding-top: 7px;
  font-weight: 100;
}

a {
  color: #766054;
  cursor: pointer;
}


.ptr--ptr {
  pointer-events: none;
  font-weight: bold;
  top: 0;
  height: 0;
  transition: height 0.3s, min-height 0.3s;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  align-content: stretch;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 200;

  /*margin: 0 -20px;
  position: relative;*/
}
.ptr--box {
  flex-basis: 100%;
}
.ptr--pull {
  transition: none;
}
.ptr--text {
  display: none;
}
.ptr--icon {
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #463f3a;
  background: #fffcf8;
  padding-top: 4px;
  box-sizing: border-box;
}
.ptr--icon img {
  height: 32px;
}
.ptr--top {
  touch-action: pan-x pan-down pinch-zoom;
}
