#exchangePopup a {
    color: #cdb476;
}

button {
  border: none;
  background: none;
  font-family: 'Poppins', serif;
  text-align: center;
  font-size: 17px;
  color: #766054;
  position: relative;
  padding: 0;
}

button.box {
  background: #766054;
  margin: 10px;
  padding: 14px 4px;
  color: #f7f5f2;
}

button.box::before {
  display: block;
  content: " ";
  border-top: 1px dashed #f7f5f2;
  margin: -7px -14px 7px -14px;
}

button.toolbtn {
  padding: 10px;
  display: block;
  width: 100%;
  margin: 20px 0;
  line-height: 52px;
}

button img {
  vertical-align: middle;
  width: 26px;
  margin: 0 3px;
}

button.toolbtn img {
  width: 42px;
  margin: 5px;
  float: left;
}

button .soon {
  position: absolute;
  bottom: -10px;
  left: 62px;
  right: 0;
  font-style: italic;
}

button:disabled {
  opacity: 0.5;
}

select {
    background: #766054 url(../icons/select.png) no-repeat 97% center;
    background-size: 5%;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    color: #f7f5f2;
    line-height: 20px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.section {
    margin: 10px 0;
    padding: 10px 0;
}

.formActions .cancel {
  color: #766054;
  text-align: left;
  padding: 16px;
}

.formActions .submit {
  color: #f7f5f2;
  text-align: right;
  padding: 16px;
}

.formButtons .f1 {
  border: 1px solid #766054;
  border-radius: 25px;
  color: #eadfcb;
  padding: 12px 24px;
  font-size: 12px;
  line-height: 26px;
}

.formButtons .f1:first-child {
  border-left: none;
  border-radius: 0 25px 25px 0;
  text-align: left;
}
.formButtons .f1:first-child img {
  float: right;
}

.formButtons .f1:last-child {
  border-right: none;
  border-radius: 25px 0 0 25px;
  text-align: right;
}
.formButtons .f1:last-child img {
  float: left;
}

.formFields {
    padding: 0 24px;
}

input {
  padding: 9px 0;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  border:none;
  border-bottom:1px dashed #766054;
  margin: 0;
  background: none;
  color: #f7f5f2;
  font-family: 'Poppins', serif;
}
input.dark {
  background: #766054;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
  color: #f7f5f2;
  line-height: 20px;
  border: none;
}

textarea {
   resize: none;
   font-size: 14px;
   width: 100%;
   border: none;
   padding: 9px;
   margin: 0;
   background: #463f3a;
   color: #f7f5f2;
   font-family: 'Poppins', serif;
   box-sizing: border-box;
}
*:focus {
  outline: none;
}

input:active, input:focus {
    border-color: #f7f5f2;
}

.field.dark input:active, .field.dark input:focus {
    border-color: #463f3a;
}

input::placeholder {
    font-style: italic;
}

.field.invalid input {
  color: #f36040;
  border-color: #f36040;
}

.field.valid input {
  color: #ddc486;
  border-color: #ddc486;
}
.equalizer {
  font-size: 20px;
  padding: 31px 10px 0 10px;
}

input.has-unit {
  padding-right: 55px;
}

.field {
  position: relative;
  text-align: center;
  font-size: 14px;
  padding: 21px 0;
}

.field .legend {
    text-align: right;
    position: absolute;
    left: 0;
    right: 0;
}

.red {
  color: #f36040;
}

.field.invalid .legend {
  color: #f36040;
}

.field label {
  position:absolute;
  pointer-events:none;
  left: 0;
  top: 35px;
  font-size: 15px;
  color: #766054;
  transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -webkit-transition:0.2s linear all;
}

.field input:focus ~ label, .field input:valid ~ label 		{
  top: 10px;
  font-size: 14px;
}

.field.filled label {
  top: 10px;
  font-size: 14px;
}

.field input:focus ~ label	{
  color: #f7f5f2;
}

.field.dark input, .field.dark input:focus ~ label	{
  color: #463f3a;
}

.field.invalid label {
  color: #f36040;
}

.field strong	{
  color: #f7f5f2;
  font-weight: normal;
}
.field .fee	{
  font-size: 12px;
}
.input-unit {
  position: absolute;
  top: 35px;
  right: 0;
  color: #766054;
}

.field.filled .input-unit {
  color: #f7f5f2;
}

.range-input {
    margin: 9px 0px;
    margin-bottom: 20px;
    text-align: left;
}

.rangeSlider,.rangeSlider__fill {
    display:block;
}

.rangeSlider,.rangeSlider__fill {
    border-radius:10px
}

.rangeSlider {
  position:relative;
  background:#695950;
}

.rangeSlider__horizontal {
  height:3px;
  width:100%
}

.rangeSlider__vertical {
  height:100%;
  width:3px

}.rangeSlider--disabled {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity:.4
}

.rangeSlider__fill {
  background: #f7f5f2;
  position:absolute;
  z-index:2
}

.rangeSlider__fill__horizontal {
  height:100%;
  top:0;
  left:0
}

.rangeSlider__fill__vertical {
  width:100%;
  bottom:0;
  left:0
}

.rangeSlider__handle {
    cursor:pointer;
    display:inline-block;
    width:25px;
    height:25px;
    position:absolute;z-index:3;

    background-image: url('../icons/slider.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}

.rangeSlider__handle__horizontal{
    top: -12px;
}

.rangeSlider__handle__vertical{
  left:-10px;bottom:0
}

input[type=range]:focus+.rangeSlider .rangeSlider__handle{
  background-image: url('../icons/slideron.png');
}

.rangeSlider__buffer{
  z-index:1;position:absolute;top:3px;height:14px;background:#2c3e50;border-radius:10px
}

label.checkbox {
    height: 22px;
    line-height: 22px;
    display: block;
}

.checkbox input {
  display: none;
}

.checkbox input ~ .fakecheck {
  content: "";
  display: block;
  float: left;
  width: 48px;
  height: 22px;
  background-size: auto 44px;
  background-image: url(../icons/check.png);
  background-repeat: no-repeat;
}

.checkbox input:checked ~ .fakecheck {
  background-position: 0 -22px;
}

table.transactionSummary {
  width:100%;
  text-align: center;
}

table.transactionSummary tr.first td {
  width: 19%;
  padding: 7% 7% 1% 7%;
}

table.transactionSummary tr.second td {
  width: 33%;
  font-family: monospace;
  font-size: 10px;
  padding-bottom: 5%;
}

table.niceTable {
  width:100%;
}
table.niceTable td {
  word-break: break-word;
  padding-bottom: 7px;
  font-weight: bold;
  font-family: monospace;
  font-size: 10px;
  text-align: right;
}
table.niceTable th {
  text-align: left;
  padding-top: 7px;
  font-weight: 100;
}

a {
  color: #766054;
  cursor: pointer;
}
